body {
    background-color: hsl(180, 55%, 47%);
    font: normal 15pt Arial;
    height: 100vh;
}

header, h1 {
    color: white;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

h1 {
    margin: auto 0;
    height: 500px;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

div {
    text-align: center;
    padding: 10px;
    margin: 10px;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(243, 66, 205);
}


/* RESPONSIVE */


@media(maxwidth: 768px) {
    header, h1 {
        height: 100px;
        width: auto;
    }

    h1 {
        height: 100px;
        font-size: 20px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    section {
        width: 200px;
    }
}


@media(max-width: 425px) {
    header, h1 {
        height: 150px;
    }

    h1 {
        height: 200px;
        font-size: 20px;
    }

    img {
        height: 100px;
        width: 100px;
    }

    section {
        width: 200px;
    }
}